#main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px !important;
  text-align: center;
  background-color: azure;
}

.btn {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 50% !important;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type='text'] {
  text-align: end;
  width: 90%;
  margin: auto;
}
